[Unit]
Description=Check for prepared idle Oxroute updates

[Timer]
OnBootSec=15s
OnUnitInactiveSec=15s
AccuracySec=1s

[Install]
WantedBy=timers.target
